<!DOCTYPE html>

<html>
	<head>
		<script>
            $(document).ready(function(){
                var ip=$.ajax({url:"/ip",async:false});
            });
		</script>

		<title>Z &amp; H</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="${rootPath!}/statics/css/bootstrap.min.css">
		<link rel="stylesheet" href="${rootPath!}/statics/css/ionicons.min.css">
		<link rel="stylesheet" href="${rootPath!}/statics/css/pace.css">
	    <link rel="stylesheet" href="${rootPath!}/statics/css/custom.css">

	    <!-- js -->
	    <script src="${rootPath!}/statics/js/jquery-2.1.3.min.js"></script>
	    <script src="${rootPath!}/statics/js/bootstrap.min.js"></script>
	    <script src="${rootPath!}/statics/js/pace.min.js"></script>
	    <script src="${rootPath!}/statics/js/modernizr.custom.js"></script>
		<script src="${rootPath!}/statics/js/common.js"></script>
		<script src="${rootPath!}/statics/js/ua-device.js"></script>
	</head>

	<body id="single">
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="javascript:void(0)" onclick="tClick('title')"><b>Z</b> &amp; CT</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
									<li class="cl-effect-11"><a href="javascript:void(0)" data-hover="Home" onclick="tClick('home')">Home</a></li>
    								<!--<li class="cl-effect-11"><a href="/NBlog/blog/all" data-hover="Blog">Blog</a></li>-->
									<li class="cl-effect-11"><a href="javascript:void(0)" data-hover="About" onclick="tClick('about')">About</a></li>
    								<!--<li class="cl-effect-11"><a href="/NBlog/contact/" data-hover="Contact">Contact</a></li>-->
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href=""><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">${blog.title!}</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="javascript:void(0)" onclick="aClick('${blog.tagName!}','blog')">${blog.tagName}</a></span>

									<span class="post-date"><a href=""><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">${blog.createTime}</time></a></span>
			
									<!--<span class="post-author"><a href="">Albert Einstein</a></span>
			
									<span class="comments-link"><a href="">4 Comments</a></span>-->
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>${blog.content}</p>
							</div>
						</article>
					</main>
					<aside class="col-md-4">
						<div class="widget widget-category">
							<h3 class="widget-title">Category</h3>		
							<ul>
								<#if tagList??>
								<#list tagList.datalist as tag>
								<li>
									<a href="javascript:void(0)" onclick="aClick('${tag.name!}','barTag')">${tag.name!}</a>
								</li>
								</#list>
								</#if>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2014 ThemeWagon.com</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

	<script src="${rootPath!}/statics/js/script.js"></script>
		<script>
            $(document).ready(function(){
                var url = window.location.href;
                sendAction("${rootPath!}",url,"blog","blog","${blog.id!}","${blog.id!}","0","openBlog");
            });

            //value 博客标签 博客id
            //aType tag blog 点击类型
            //where tag: blog barTag   blog:title detail 点击位置
            function aClick (value,where) {
                var url = window.location.href;
				if(where=="blog"){
					sendAction("${rootPath!}",url,"blog","tag","1","1","1","clickBlogTag");//标签页内部跳转
				}else if(where=="barTag"){
					sendAction("${rootPath!}",url,"blog","tag","1","1","1","clickBlogBarTag");//标签页内部跳转
				}
                window.location = "${rootPath!}/tag/"+value+"/1 ";
			}

            function tClick(where){
                var url = window.location.href;
                var blogId = "${blog.id!}";
                if(where=="title"){
                    sendAction("${rootPath!}",url,"blog","index",blogId,"1","1","clickIndexTitle");
                    window.location = "${rootPath!}/";
                }else if(where=="home"){
                    sendAction("${rootPath!}",url,"blog","index",blogId,"1","1","clickIndexBar");
                    window.location = "${rootPath!}/";
                }else if(where=="about"){
                    sendAction("${rootPath!}",url,"blog","about",blogId,"1","1","clickAboutBar");
                    window.location = "${rootPath!}/about";
                }

            }

		</script>
	</body>
</html>
